.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    margin: 50px 10vw;
    margin-top: -120px;
    /*background-image: linear-gradient(90deg, #292929, #161513);
    background: #1e1e1e;
    background-size: cover;
    background-repeat: no-repeat;*/
}
.services-title {
    position: relative;
    margin-bottom: 4vw;
}
.services-title h1 {
    position: relative;
    font-size: clamp(2.5rem, 4vw, 3rem);
    font-weight: 600;
    margin-top: 50px;
    z-index: 1;
}
.services-title img {
    position: absolute;
    width: 180px;
    top: 60px;
    left: 50px;
}
.services-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    gap: 25px;
    margin-bottom: 8vw;
}
.services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 2vw;
    border-radius: 10px;
    border: solid 1px white;
    transition: 0.4s;
    cursor: pointer;
    background-color: #292929;
}
.services-format h2 {
    font-size: clamp(1.5rem, 20px, 2rem);
}
.services-format h3 {
    font-size: clamp(0.8rem, 18px, 1rem);
    font-weight: 600;
    background: linear-gradient(270deg, #DB9C3D 50%, #CA84F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p {
    font-size: clamp(0.8rem, 17px, 1rem);
    color: #d4d4d4;
    line-height: 25px;
}
.services-readmore {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 2vw;
    font-weight: 500;
}
.services-format:hover {
    border: solid 1px #ff00ff;
    background: linear-gradient(45deg, #680543, #5c341a);
    transform: scale(1.02);
    transition: 0.4s;
}

@media (max-width: 768px) {
    .services {
        align-items: center;
        gap: 5vw;
        margin: 20px 10vw;
        margin-top: -30px;
    }
    .services-title h1 {
        font-size: clamp(2rem, 3vw, 2.5rem);
    }
    .services-title img {
        width: 150px;
        top: 50px;
    }
    .services-container {
        grid-template-columns: 1fr 1fr;
    }
    .services-format {
        gap: 2vw;
        padding: 3vw;
        font-weight: 350;
    }
    .services-format h2 {
        font-size: 1.2rem;
    }
    .services-format h3 {
        font-size: clamp(1em, 2.5vw, 1.3em);
    }
    .services-format p {
        font-size: 0.8rem;
        line-height: 20px;
        max-width: none;
    }
    .services-readmore {
        font-size: 1em;
        margin-top: 0;
        color: skyblue;
        font-weight: 500;
    }
}