.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    margin: 8vh 10vw;
    padding-bottom: 5vh;
    /*background-image: linear-gradient(90deg, #292929, #161513);
    background: #1e1e1e;
    background-size: cover;
    background-repeat: no-repeat;*/
}
.services-title {
    position: relative;
    margin-bottom: 5vh;
}
.services-title h1 {
    position: relative;
    padding: 0 3vw;
    font-size: 6vw;
    font-weight: 600;
    margin-top: 4vh;
}
.services-title img {
    position: absolute;
    width: 20vw;
    top: 8vh;
    right: 0;
    z-index: -1;
}
.services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding: 2vw;
    border-radius: 10px;
    border: solid 2px white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    gap: 2vw;
    margin-bottom: 8vw;
}
.services-format h2 {
    font-size: 2rem;
}
.services-format h3 {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-weight: 600;
    background: linear-gradient(270deg, #DB9C3D 50%, #CA84F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    color: #d4d4d4;
    line-height: 25px;
}
.services-readmore {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 2vw;
    font-weight: 500;
}
.services-format:hover {
    border: solid 2px #ff00ff;
    background: linear-gradient(45deg, #680543, #5c341a);
    transform: scale(1.05);
    transition: 0.4s;
}

@media (max-width: 768px) {
    .services {
        align-items: center;
        gap: 5vw;
        margin: 5vw 10vw;
    }
    .services-title h1 {
        padding: 0;
        font-size: 8vw;
    }
    .services-title img {
        position: absolute;
        width: 30vw;
        top: 5vw;
        margin-right: -2vw;
    }
    .services-container {
        grid-template-columns: 1fr 1fr;
    }
    .services-format {
        gap: 2vw;
        padding: 3vw;
        font-weight: 350;
    }
    .services-format h2 {
        font-size: 1.2rem;
    }
    .services-format h3 {
        font-size: clamp(1em, 2.5vw, 1.3em);
    }
    .services-format p {
        font-size: 0.8rem;
        line-height: 3.5vw;
        max-width: none;
    }
    .services-readmore {
        font-size: 1em;
        margin-top: 0;
        color: skyblue;
        font-weight: 500;
    }
}