.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
    /*margin-top: 150px;*/
    background: url('../../assets/radiant_gradient(2).svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero img {
    width: 13vw;
    height: 16vw;
    border-radius: 10vw;
    margin-top: 25vh;
    border: solid 3px #eee8f1;
}
.hero h1 {
    text-align: center;
    width: 80%;
    font-size: 3.5rem;
    font-weight: 500;
}
.hero h1 span {
    background: linear-gradient(270deg, #DB9C3D 10%, #CA84F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero p {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
}
.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25vh;
}
.hero-connect {
    padding: 15px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.hero-resume {
    padding: 15px 40px;
    border-radius: 50px;
    border: 1.5px solid #fff;
    cursor: pointer;
}
.hero-connect:hover {
    border: 1.5px solid white;
}
.hero-resume:hover {
    border-color: #CA84F8;
}

@media (max-width:768px) {
    .hero img {
        margin-top: 25vh;
        width: 150px;
        height: 170px;
        border-radius: 20px;
        border: solid 3px #DB9C3D;
    }
    .hero h1 {
        margin-top: 4vh;
        font-size: 6vw;
        width: 90%;
    }
    .hero p {
        width: 70%;
        font-size: 1.1rem;
        line-height: 4vh;
        margin: 2vh 0;
    }
    .hero-action {
        gap: 1.6vw;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 25vh;
    }
    .hero-connect {
        padding: 1.3vh 2.8vw;
        border-radius: 10px;
        font-size: 1em;
    }
    .hero-resume {
        display: flex;
        align-items: center;
        padding: 1.3vh 3vw;
        border-radius: 10px;
        font-size: 1em;
        border: solid 1px #fff;
    }
}