.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background: url('../../assets/radiant_gradient(2).svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 170px;
}
.hero-top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5vw;
    padding-top: 200px;
}
.hero-top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.hero-top-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}
.hero-top-right .tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.hero-top-right .tech p {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 7px 14px;
    border-radius: 10px;
    color: #f9fbfb;
    background-color: #3c3c3c;
    font-size: 0.9em;
    margin: 0;
}
.hero-top-right .tech p:hover {
    background: linear-gradient(270deg, #DB9C3D 10%, #CA84F8 100%);
}
.hero-top-right h1 {
    font-size: clamp(1.8rem, 2rem, 2.5rem);
    font-weight: 600;
}
.hero-top-right p {
    font-size: clamp(0.7rem, 1rem, 1.4rem);
    margin-bottom: 15px;
}
.hero-top-left .hero-image {
    width: clamp(180px, 17vw, 210px);
    height: clamp(220px, 21vw, 260px);
    border-radius: 30px;
    border: solid 3px #DB9C3D;
}
.hero-top-right h1 span {
    background: linear-gradient(270deg, #DB9C3D 10%, #CA84F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: clamp(0.8rem, 18px, 1rem);
    font-weight: 500;
}
.hero-connect {
    padding: 10px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.hero-resume {
    padding: 10px 40px;
    border-radius: 50px;
    border: 1.5px solid #fff;
    cursor: pointer;
}
.hero-connect:hover {
    border: 1.5px solid white;
    background: #aa9472;
}
.hero-resume:hover {
    border-color: #CA84F8;
    background: #3c3c3c;
}

@media (max-width:768px) {
    .hero-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10vw;
        margin-right: 10vw;
        padding-top: 130px;
    }
    .hero-top-right {
        align-items: center;
        width: 100%;
    }
    .hero-top-right h1 {
        font-size: clamp(1rem, 25px, 2rem);
    }
    .hero-top-right p {
        margin: 15px 0 20px 0;
        text-align: center;
    }
    .hero-top-right .tech {
        justify-content: center;
    }
    .hero-top-right .tech p {
        font-size: 0.8em;
    }
    .hero-top-left .hero-image {
        width: 150px;
        height: 170px;
        border-radius: 20px;
        border: solid 3px #DB9C3D;
    }
    .hero-top-left .img-decor {
        display: none;
    }
    .hero-action {
        gap: 1.6vw;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 80px;
    }
    .hero-connect {
        padding: 11px 4vw;
        border-radius: 50px 15px 15px 50px;
        font-size: 0.9em;
    }
    .hero-resume {
        display: flex;
        align-items: center;
        padding: 10px 4vw;
        border-radius: 15px 50px 50px 15px;
        font-size: 0.9em;
        border: solid 1px #fff;
    }
}