.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    /*margin-top: 150px;*/
    background: url('../../assets/radiant_gradient(2).svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero img {
    width: 13vw;
    height: 16vw;
    border-radius: 10vw;
    margin-top: 25vh;
    border: solid 3px #eee8f1;
}
.hero h1 {
    text-align: center;
    width: 80%;
    font-size: 50px;
    font-weight: 500;
}
.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero p {
    width: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}
.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25vh;
}
.hero-connect {
    padding: 15px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}
.hero-resume {
    padding: 15px 40px;
    border-radius: 50px;
    border: 1.5px solid #fff;
    cursor: pointer;
}
.hero-connect:hover {
    border: 1.5px solid white;
}
.hero-resume:hover {
    border-color: #B415FF;
}

@media (max-width:768px) {
    .hero img {
        margin-top: 25vh;
        width: 150px;
        height: 170px;
        border-radius: 20px;
        border: solid 3px #DF8908;
    }
    .hero h1 {
        margin-top: 40px;
        font-size: 40px;
        width: 90%;
    }
    .hero p {
        width: 70%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0;
    }
    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 25vh;
    }
    .hero-connect {
        padding: 10px 25px;
        border-radius: 40px;
        font-size: 16px;
    }
    .hero-resume {
        padding: 10px 25px;
        border-radius: 40px;
        font-size: 16px;
    }
}