.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 10vh;
    margin: 8vh 10vw;
}
.mywork-title {
    position: relative;
    margin-bottom: 3vh;
}
.mywork-title img {
    width: 28vw;
    position: absolute;
    top: -2.5vw;
    right: 0;
    z-index: -1;
}
.mywork-title h1 {
    padding: 0 3vw;
    font-size: 6vw;
    font-weight: 600;
}
.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
}
.mywork-container img {
    box-sizing: border-box;
    width: 25vw;
    height: 16vw;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover {
    transform: scale(1.10);
    border-radius: 10px;
    border: 4px solid #ff00ff;
    transition: 0.3s;
}
.mywork-showmore {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2em, 2vw, 1.5em);
    font-weight: 500;
    padding: 2.5vh 6vw;
    border-radius: 50px;
    margin-bottom: 8vh;
    border: solid 2px white;
    cursor: pointer;
    transition: 0.6s;
}
.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

@media (max-width: 768px) {
    .mywork {
        gap: 50px;
        margin: 5vh 10vw;
        align-items: center;
    }
    .mywork-title h1 {
        padding: 0;
        font-size: 8vw;
    }
    .mywork-title img {
        width: 30vw;
        top: 1vh;
        margin-right: 2vw;
    }
    .mywork-container {
        grid-template-columns: 1fr 1fr;
        gap: 4vw;
    }
    .mywork-container img {
        width: 100%;
        height: 100%;
    }
    .mywork-showmore {
        padding: 2vh 4vw;
        font-size: 1rem;
        margin: 3vh auto;
        cursor: pointer;
    }
}