.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 40px;
    margin: 10vw;
    border-top: solid 0.5px #292929;
}
.mywork-title {
    position: relative;
    margin-bottom: 3vw;
     z-index: 1;
}
.mywork-title img {
    width: 180px;
    position: absolute;
    top: 10px;
    left: 100px;
}
.mywork-title h1 {
    font-size: clamp(2.5rem, 4vw, 3rem);
    font-weight: 600;
}
.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.mywork-container img {
    box-sizing: border-box;
    width: 23vw;
    height: 15vw;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: solid 2px #F9FBFB;
}
.mywork-container img:hover {
    transform: scale(1.02);
    border-radius: 10px;
    border: 3px solid #ff00ff;
    transition: 0.3s;
}
.mywork-showmore {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8em, 20px, 1em);
    font-weight: 500;
    padding: 15px 6vw;
    border-radius: 50px;
    margin-bottom: 70px;
    border: solid 2px white;
    cursor: pointer;
    transition: 0.6s;
}
.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

@media (max-width: 768px) {
    .mywork {
        box-sizing: border-box;
        gap: 25px;
        margin: 5vw 10vw;
        align-items: center;
        margin-bottom: 70px;
    }
    .mywork-title h1 {
        font-size: clamp(2rem, 3vw, 2.5rem);
    }
    .mywork-title img {
        width: 160px;
        top: -5px;
        left: 60px;
    }
    .mywork-container {
        grid-template-columns: 1fr 1fr;
        margin-top: 10;
        margin-bottom: 0;
        gap: 4vw;
    }
    .mywork-container img {
        width: 100%;
        height: 100%;
    }
    .mywork-showmore {
        padding: 2vw 4vw;
        font-size: 1rem;
        margin: 3vw 0;
        cursor: pointer;

    }
}