.about-container {
    background: linear-gradient(90deg,#161513, #292929);
    margin: 0;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 10vw;
    margin-top: 0;
    padding-top: 50px;
}
.about-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4vw;
}
.about-title h1 {
    position: relative;
    font-size: clamp(2.5rem, 4vw, 3rem);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}
.about-title img {
    position: absolute;
    width: 170px;
    top: 20px;
}
.about-sections {
    display: flex;
    gap: 8vw;
    margin-top: -20px;
}
/*.about-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
}*/
.about-left-image {
    margin-bottom: 1.5vw;
    border: solid 5px #DB9C3D;
    border-radius: 0 15px 0 15px;
    width: 25vw; 
}
.about-right {
    margin-top: -10px;
}
.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: clamp(0.8rem, 18px, 1.5rem);
    font-weight: 400;
    margin-bottom: 50px;
}
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.about-skill {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    transition: 0.3s;
    width: 100%;
}
.about-skill span {
    width: 100%;
    background-color: #3c3c3c;
    height: 6px;
    border-radius: 50px;
}
.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s
}
.about-skill p {
    min-width: 150px;
    font-size: clamp(0.7rem, 18px, 1.4rem);
    font-weight: 550;
}
.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 6px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
}
.about-achievments {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 170px;
    margin-top: 5vw;
}
.about-achievments hr {
    width: 4px;
    height: 70px;
    border-radius: 3px;
}
.about-achievment {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.about-achievment:hover {
    transform: scale(1.12);
    transition: 0.5s;
}
.about-achievment h2 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DB9C3D 50.41%, #CA84F8 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievment p {
    font-size: 1em;
    font-weight: 500;
}

/* ===== COLOR GRADIENT ===== */
.txt-grad {
    background: linear-gradient(270deg, #DB9C3D 10%, #CA84F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .about {
        align-items: center;
        margin: 5vw 10vw;
        margin-top: 0;
        gap: 10vw;
    }
    .about-title {
        margin-bottom: 6vw;
    }
    .about-title h1 {
        font-size: clamp(2rem, 3vw, 2.5rem);
        padding: 0;
    }
    .about-title img {
        width: 150px;
        top: 5px;
    }
    .about-sections {
        flex-direction: column;
        margin-top: 10px;
    }
    .about-left-image {
        display: none;
    }
    .about-left-dwings {
        display: none;
    }
    .about-right {
    margin-top: 0;
}
    .about-para {
        font-size: 1rem;
        line-height: 25px;
        margin-top: -10vw;
    }
    .about-skill {
        gap: 15px;
        align-items: center;
    }
    .about-skill p {
        font-size: 1rem;
        min-width: 100px;
    }
    .about-skill hr {
        height: 6px;
    }
    .about-achievments {
        justify-content: space-between;
        width: 90%;
        margin-bottom: 150px;
    }
    .about-achievments hr {
        height: 60px;
    }
    .about-achievment {
        max-width: 40px;
    }
    .about-achievment h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    .about-achievment p {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media(max-width:500px){
    .about {
        margin: 5vw;
        margin-top: 0;
    }
    .about-para {
        font-size: 0.9rem;
    }
    .about-skill p {
        font-size: 0.9rem;
    }
    .about-skill hr, .about-skill span {
        height: 4px;
    }
    .about-achievments {
        margin-bottom: 130px;
    }
    .about-achievments hr {
        height: 50px;
    }
    .about-achievment h2 {
        font-size: 2rem;
    }
    .about-achievment p {
        font-size: 0.7rem;
    }
}