.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 140px;
    padding-top: 40px;
}
.about-left-image {
    margin-bottom: 15px;
    border: solid 5px #DF8908;
    border-radius: 0 15px 0 15px;
    width: 350px; 
}
.about-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img {
    width: 150px;
}
.about-sections {
    display: flex;
    gap: 80px;
}
/*.about-sections img {
    width: 250px;
}*/
.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 400;
}
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill {
    display: flex;
    align-items: center;
    gap: 50px;
    transition: 0.3s;
}
.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s
}
.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}
.about-achievments {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievment:hover {
    transform: scale(1.12);
    transition: 0.5s;
}
.about-achievment h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievment p {
    font-size: 22px;
    font-weight: 500;
}

/* ===== COLOR GRADIENT ===== */
.txt-grad {
    background: linear-gradient(270deg, #DF8908, #B415FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .about {
        align-items: center;
        margin: 50px 70px;
        gap: 80px;
    }
    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }
    .about-title img {
        width: 100px;
    }
    .about-sections {
        flex-direction: column;
    }
    .about-left-image {
        display: none;
    }
    .about-left-dwings {
        display: none;
    }
    .about-para {
        font-size: 18px;
        line-height: 32px;
        margin-top: -100px;
        float: right;
    }
    .about-para-image {
        width: 200px;
        border: solid 3px #DF8908;
        float: left;
    }
    .about-skill {
        gap: 15px;
        align-items: center;
    }
    .about-skill p {
        font-size: 18px;
    }
    .about-skill hr {
        height: 6px;
    }
    .about-achievments {
        justify-content: space-between;
    }
    .about-achievment {
        gap: 10px;
    }
    .about-achievment h1 {
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievment p {
        text-align: center;
        font-size: 12px;
    }
}