.about-container {
    background: linear-gradient(90deg,#161513, #292929);
    margin-top: -15vh;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    margin: 8vh 10vw;
    padding-top: 10vh;
}
.about-title {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}
.about-title h1 {
    position: relative;
    padding: 0 3vw;
    font-size: 6vw;
    font-weight: 600;
    font-family: 'outfit', sans-serif;
}
.about-title img {
    position: absolute;
    width: 20vw;
    top: 3vh;
    right: 0;
    z-index: 1;
}
.about-sections {
    display: flex;
    gap: 8vw;
}
/*.about-sections img {
    width: 250px;
}*/
.about-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.about-left-image {
    margin-bottom: 1.5vh;
    border: solid 5px #DB9C3D;
    border-radius: 0 15px 0 15px;
    width: 25vw; 
}
.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.about-skill {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    transition: 0.3s;
    width: 100%;
}
.about-skill span {
    width: 100%;
}
.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s
}
.about-skill p {
    min-width: 150px;
    font-size: 22px;
    font-weight: 550;
}
.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
}
.about-achievments {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20vh;
    margin-top: 5vh;
}
.about-achievment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    transition: 0.5s;
}
.about-achievment:hover {
    transform: scale(1.12);
    transition: 0.5s;
}
.about-achievment h2 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DB9C3D 50.41%, #CA84F8 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievment p {
    font-size: 1rem;
    font-weight: 500;
}

/* ===== COLOR GRADIENT ===== */
.txt-grad {
    background: linear-gradient(270deg, #DB9C3D 10%, #CA84F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .about {
        align-items: center;
        margin: 5vh 10vw;
        gap: 8vh;
    }
    .about-title {
        margin-bottom: 6vh;
    }
    .about-title h1 {
        font-size: 8vw;
        padding: 0;
    }
    .about-title img {
        width: 30vw;
        top: 1vh;
    }
    .about-sections {
        flex-direction: column;
    }
    .about-left-image {
        display: none;
    }
    .about-left-dwings {
        display: none;
    }
    .about-para {
        font-size: 1.05rem;
        line-height: 3.5vh;
        margin-top: -10vh;
    }
    .about-skill {
        gap: 15px;
        align-items: center;
    }
    .about-skill p {
        font-size: 1.05rem;
        min-width: 100px;
    }
    .about-skill hr {
        height: 6px;
    }
    .about-achievments {
        justify-content: space-between;
    }
    .about-achievment {
        gap: 2vw;
    }
    .about-achievment h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    .about-achievment p {
        text-align: center;
        font-size: 1rem;
    }
}