.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;
    margin: 10vw;
    box-sizing: border-box;
    border-top: solid 0.5px #292929;
    margin-bottom: 200px;
}
.contact-title {
    position: relative;
    margin-bottom: 20px;
}
.contact-title img {
    width: 180px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: -1;
}
.contact-title h1 {
    font-size: clamp(2.5rem, 4vw, 3rem);
    font-weight: 600;
}
.contact-section {
    display: flex;
    flex: 1;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 100px;
    width: 100%;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.contact-left h1 {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(270deg, #DB9C3D 50.41%, #CA84F8 90.25%);
    background-clip: text;
    -webkit-bachground-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p {
    
    color: #D8D8D8;
    font-size: 1rem;
    line-height: 35px;
}
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: 1rem;
    color: #D8D8D8;
}
.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-envelope, .icon-phonevolume, .icon-locationdot {
    width: 20px;
    color: #CA84F8;
}
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
}
.contact-right label {
    color: #D8D8D8;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: -15px;
}
.contact-right input {
    border: none;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background: #292929;
    color: #A0A0A0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
.contact-right input:focus {
    border: none;
    outline: none;
}
.contact-right textarea {
    border: none;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background: #292929;
    color: #A0A0A0;
    font-family: 'outfit', sans-serif;
    font-size: 1em;
}
.contact-right textarea:focus {
    border: none;
    outline: none;
}
.contact-submit {
    border: none;
    color: white;
    border-radius: 40px;
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-family: 'outfit', sans-serif;
    font-size: clamp(1em, 1vw, 2em);
    font-weight: 500;
    padding: 2vh 2.5vw;
    cursor: pointer;
    transition: 0.3s;
}
.fa-paper-plane {
    margin-right: 15px;
}
.contact-submit:hover {
    border: solid 1px #fff;
    transform: scale(1.05);
    transition: 0.4s;
}

/* ======== COLOR GRADIENT ======== */
.txt-grad {
    background: linear-gradient(270deg, #DB9C3D 50.41%, #CA84F8 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .contact {
        gap: 5vw;
        margin: 5vw 10vw;
        align-items: center;
        margin-bottom: 150px;
    }
    .contact-title h1 {
        font-size: clamp(2rem, 3vw, 2.5rem);
    }
    .contact-title img {
        width: 150px;
        top: 5px;
        left: 40px;
    }
    .contact-section {
        flex-direction: column;
        align-items: center;
    }
    .contact-left p {
        font-size: clamp(0.8rem, 20px, 1rem);
    }
    .contact-left h1 {
        font-size: clamp(1.5rem, 5vw, 2rem);
    }
    .contact-detail {
        gap: 5px;
    }
    .contact-detail p{
        margin-left: 15px;
        font-size: 1rem;
    }
    .contact-right {
        margin-top: -50px;
    }
    .contact-detail img {
        width: 25px;
    }
    .contact-right label {
        font-size: clamp(0.8rem, 20px, 1rem);
        margin-bottom: -12px;
    }
    .contact-right input {
        justify-content: center;
        padding: 10px 15px;
        font-size: clamp(0.8em, 18px, 0.9em);
    }
    .contact-right textarea {
        font-size: clamp(0.8em, 18px, 1em);
        padding: 10px 15px;
    }
    .contact-right .submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .contact-submit {
        font-size: 1em;
        padding: 10px 25px;
        border-radius: 50px;
        text-align: center;
    }
}