.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;
    margin: 8vh 10vw;
}
.contact-title {
    position: relative;
    margin-bottom: 20px;
}
.contact-title img {
    width: 28vw;
    position: absolute;
    top: -2.50vw;
    right: 0;
    z-index: -1;
}
.contact-title h1 {
    padding: 0 3vw;
    font-size: 6vw;
    font-weight: 600;
}
.contact-section {
    display: flex;
    justify-content: space-between;
    gap: 15vh;
    width: 100%;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.contact-left h1 {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 40%, #B415FF 100%);
    background-clip: text;
    -webkit-bachground-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p {
    
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    color: #D8D8D8;
}
.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-envelope, .icon-phonevolume, .icon-locationdot {
    width: 20px;
    color: #B415FF;
}
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3vh;
    width: 100%;
}
.contact-right label {
    color: #D8D8D8;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: -1vh;
}
.contact-right input {
    border: none;
    width: 95%;
    height: 3vh;
    padding: 2vh 2vw;
    border-radius: 5px;
    background: #292929;
    color: #A0A0A0;
    font-family: 'outfit', sans-serif;
    font-size: 100%;
}
.contact-right textarea {
    border: none;
    width: 95%;
    padding: 2vw;
    border-radius: 5px;
    background: #292929;
    color: #A0A0A0;
    font-family: 'outfit', sans-serif;
    font-size: 100%;
}
.contact-submit {
    border: none;
    color: white;
    border-radius: 40px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: clamp(1em, 1vw, 2em);
    font-weight: 500;
    padding: 2vh 2.5vw;
    margin-bottom: 8vh;
    cursor: pointer;
    transition: 0.3s;
}
.fa-paper-plane {
    margin-right: 15px;
}
.contact-submit:hover {
    border: solid 2px #fff;
    transform: scale(1.1);
    transition: 0.6s;
}

/* ======== COLOR GRADIENT ======== */
.txt-grad {
    background: linear-gradient(270deg, #DF8908, #B415FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .contact {
        gap: 5vw;
        margin: 5vw 10vw;
        align-items: center;
    }
    .contact-title h1 {
        padding: 0;
        font-size: 250%;
        font-weight: 600;
    }
    .contact-title img {
        width: 25vw;
        top: 1vw;
        margin-right: -2vw;
    }
    .contact-section {
        flex-direction: column;
        align-items: center;
    }
    .contact-left p {
        font-size: 18px;
    }
    .contact-left h1 {
        font-size: 35px;
    }
    .contact-detail {
        gap: 5px;
    }
    .contact-detail p{
        margin-left: 15px;
        font-size: 16px;
    }
    .contact-right {
        margin-top: -50px;
    }
    .contact-detail img {
        width: 25px;
    }
    .contact-right label {
        font-size: 18px;
        margin-bottom: -10px;
    }
    .contact-right input {
        justify-content: center;
        height: 1.5vw;
        padding: 2vw;
        font-size: 95%;
    }
    .contact-right textarea {
        font-size: 95%;
    }
    .contact-submit {
        font-size: 90%;
        padding: 1.5vw 4vw;
        border-radius: 2vw;
        text-align: center;
    }
}