.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    gap: 1vw;
    padding: 1vw 3vw;
    background: linear-gradient(to bottom, #1e1e1e, #292929);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 6vw;
    font-size: 1.2rem;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img {
    display: flex;
    margin: auto;
}
.nav-connect {
    padding: 2vh 3.5vw;
    border-radius: 30px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}
.navbar img {
    width: 4vw;
    border-radius: 2vw;
}
.nav-connect:hover {
    transform: scale(1.05);
}
.anchor-link {
    text-decoration: none;
    color: white;
}
.nav-mob-open {
    display: none;
}
.nav-mob-close {
    display: none;
}
@media (max-width: 768px) {
    .navbar {
        margin: none;
    }
    .navbar img {
        width: 40px;
        border-radius: 20px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 3vw;
        font-size: 3vw;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 3vw;
        left: 29vw;
        width: 3vw;
        font-size: 3vw;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 3vw;
        background: linear-gradient(90deg, #292929, #d47bec);
        width: 35vw;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -35vw;
    }
    .nav-menu li {
        font-size: 1rem;
        padding-left: 7vw;
        flex-direction: row;
        gap: 1vw;
    }
    .anchor-link {
        padding: 1vw 3.5vw;
        border-radius: 1vw;
    }
    .anchor-link:hover {
        background: none;
        border: solid 0.2vw #fff;
    }
}