.footer {
    margin: 50px  140px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
}
.footer-top-left p {
    font-size: 90%;
    max-width: 400px;
}
.footer-top-left img {
    width: 6vw;
    border-radius: 1.5vw;
    margin-bottom: 10px;
}
.footer-top-right {
    display: flex;
    align-items: center;
    gap: 2px;
}
.footer-email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 1.5vw 2.1vw;
    border-radius: 3vw 0 0 3vw;
    margin-right: 1px;
    background: #292929;
    padding-right: 4vw;
}
.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: 'outfit', sans-serif;
    font-size: 1rem;
}
.footer-email-input:hover {
    border: solid 2px #B415FF;
    transform: scale(1.1);
    transition: 0.6s;
}
.footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1.5vw 3vw;
    border-radius: 0 3vw 3vw 0;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-subscribe:hover {
    border: solid 2px #fff;
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 1.5vw;
}
.footer-bottom-right {
    display: flex;
    gap: 3vw;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .footer {
        margin: 5vw 7vw;
    }
    .footer-top {
        flex-direction: column;
        gap: 50px;
    }
    .footer-top-right {
        width: 100%;
    }
    /*.footer-email-input {
        width: 70%;
        padding: 2vw 2.5vw;
    }*/
    .footer-email-input:hover {
    border: solid 1px #B415FF;
    transform: scale(1.05);
    transition: 0.6s;
    }
    /*.footer-subscribe {
        width: 30%;
        padding: 14px 20px;
    }*/
    .footer-subscribe:hover {
    border: solid 1px #fff;
    transform: scale(1.05);
    transition: 0.6s;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        font-size: 16px;
    }
    .footer-bottom-left {
        margin-bottom: 15px;
    }
    .footer-bottom-right {
        gap: 2.5vw;
    }
}