.footer {
    margin: 5vh  10vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.footer-top {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
}
.footer-top-left p {
    font-size: 1rem;
}
.footer-top-left img {
    width: 6vw;
    border-radius: 1.5vw;
    margin-bottom: 10px;
}
.footer-top-right {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.footer-email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 64.5%;
    border-radius: 3vw 0 0 3vw;
    margin-right: 1px;
    background: #292929;
    padding-left: 20px;
    font-size: 1rem;
}
.user-icon {
    margin-left: 1.5vw;
}
.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: 'outfit', sans-serif;
    font-size: 1rem;
    padding: 1.5vw 2.5vw 1.5vw 0;
}
.footer-email-input:hover {
    border: solid 2px #CA84F8;
    transform: scale(1.05);
    transition: 0.6s;
}
.footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1.5vw 1.5vw;
    border-radius: 0 3vw 3vw 0;
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: 0.3s;
    width: 35%;
}
.footer-subscribe:hover {
    border: solid 2px #fff;
    transform: scale(1.05);
    transition: 0.6s;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 1.5vw;
}
.footer-bottom-right {
    display: flex;
    gap: 1vw;
    margin-bottom: 6vh;
}
.footer-bottom-right p {
    padding: 1.5vh 2.5vw;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #a0a0a0;
}
.footer-bottom-right p:hover {
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

@media (max-width: 768px) {
    .footer {
        margin: 5vw 10vw;
    }
    .footer-top {
        flex-direction: column;
        gap: 50px;
    }
    .footer-top-right {
        gap: 0.5vw;
    }
    .footer-email-input {
        gap: 3.5px;
        padding-left: 15px;
    }
    .footer-email-input input {
        padding: 2vw 2.8% 2vw 0;
    }
    .footer-subscribe {
        padding: 2vw 1.5vw;
    }
    .user-icon {
        margin-left: 0;
        font-size: clamp(0.8rem, 2.5vw, 1rem);
    }
    /*.footer-email-input {
        width: 70%;
        padding: 2vw 2.5vw;
    }*/
    .footer-email-input:hover {
    border: solid 1px #B415FF;
    transform: scale(1.05);
    transition: 0.6s;
    }
    /*.footer-subscribe {
        width: 30%;
        padding: 14px 20px;
    }*/
    .footer-subscribe:hover {
    border: solid 1px #fff;
    transform: scale(1.05);
    transition: 0.6s;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        font-size: 1rem;
    }
    .footer-bottom-left {
        margin-bottom: 3vh;
    }
    .footer-bottom-right {
        gap: 2.5vw;
    }
}