.footer {
    box-sizing: border-box;
    margin: 5vh  10vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.footer-top {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
    width: 100%;
}
.footer-top-left p {
    font-size: 1rem;
}
.footer-top-left img {
    width: 6vw;
    border-radius: 1.5vw;
    margin-bottom: 10px;
}
.footer-top-right {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 3px;
}
.footer-email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 15px;
    width: 65%;
    border-radius: 3vw 0 0 3vw;
    background: #292929;
    font-size: 1rem;
}
.user-icon {
    font-size: 1rem;
}
.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    padding: 1.5vw 0;
}
.footer-email-input:hover {
    border: solid 1px #CA84F8;
    transform: scale(1.02);
    transition: 0.6s;
}
.footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1.5vw 0;
    width: 35%;
    border-radius: 0 3vw 3vw 0;
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: 0.6s;
}
.footer-subscribe:hover {
    border: solid 1px #fff;
    transform: scale(1.02);
    transition: 0.6s;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 1.5vw;
    margin-bottom: 5vh;
}
.footer-bottom-right {
    display: flex;
    gap: 1vw;
    margin-bottom: 6vh;
}
.footer-bottom-right p {
    padding: 1.5vh 2.5vw;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #a0a0a0;
}
.footer-bottom-right p:hover {
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

@media (max-width: 768px) {
    .footer {
        margin: 5vw 10vw;
    }
    .footer-top {
        flex-direction: column;
        gap: 50px;
    }
    .footer-top-right {
        width: 100%;
    }
    .footer-email-input {
        width: 70%;
    }
    .footer-email-input input {
        padding: 2vw 0;
        width: 75%;
    }
    .footer-subscribe {
        padding: 2vw 0;
        width: 30%;
    }
    .user-icon {
        font-size: clamp(0.8rem, 2.5vw, 1rem);
    }
    .footer-email-input:hover {
        border: solid 1px #B415FF;
        transform: scale(1.02);
        transition: 0.6s;
    }
    .footer-subscribe:hover {
        border: solid 1px #fff;
        transform: scale(1.02);
        transition: 0.6s;
    }
    
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        font-size: 1rem;
    }
    .footer-bottom-left {
        margin-bottom: 3vh;
        font-size: clamp( 0.8rem, 2.5vw, 1rem);
    }
    .footer-bottom-right {
        gap: 2.5vw;
        font-size: clamp( 0.8rem, 2.5vw, 1rem);
    }
}