.footer {
    box-sizing: border-box;
    margin: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    border-top: solid 0.5px #292929;
}
.footer-top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    box-sizing: border-box;
}
.footer-top-left {
    flex: 2;
}
.footer-top-right {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 3px;
}
.footer-top-left p {
    font-size: 1rem;
}
.footer-top-left img {
    width: 6vw;
    border-radius: 1.5vw;
    margin-bottom: 10px;
}
.footer-email-input {
    flex: 2;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    border-radius: 50px 0 0 50px;
    background: #292929;
    font-size: 1rem;
}
.footer-email-input .user-icon {
    margin: 0 !important;
}
.footer-email-input input {
    flex: 1;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: 'Poppins', sans-serif;
}
.footer-email-input:hover {
    transform: scale(1.02);
    transition: 0.5s;
}
.footer-subscribe {
    flex: 1;
    border: none;
    color: white;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 17px;
    border-radius: 0 50px 50px 0;
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: 0.5s;
}
.footer-subscribe:hover {
    transform: scale(1.02);
    transition: 0.5s;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 1.5vw;
    margin-bottom: 5vh;
}
.footer-bottom-right {
    display: flex;
    gap: 1vw;
    margin-bottom: 6vh;
}
.footer-bottom-right p {
    padding: 1.5vh 2.5vw;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #a0a0a0;
}
.footer-bottom-right p a {
    text-decoration: none;
    outline: none;
    color: #fff;
}
.footer-bottom-right p:hover {
    background: linear-gradient(264deg, #DB9C3D -5.09%, #CA84F8 106.28%);
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

@media (max-width: 768px) {
    .footer {
        margin: 5vw 10vw;
    }
    .footer-top {
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-right, .footer-top-left {
        flex: 1;
    }
    .footer-top-right {
        margin-bottom: 20px;
    }
    .footer-top-left p {
        font-size: 0.9rem;
    }
    .footer-email-input {
        padding: 16px;
    }
    .footer-subscribe {
        padding: 13px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        font-size: 1rem;
    }
    .footer-bottom-left {
        margin-bottom: 3vh;
        font-size: clamp( 0.8rem, 18px, 1rem);
    }
    .footer-bottom-right {
        gap: 2.5vw;
        font-size: clamp( 0.8rem, 2.5vw, 1rem);
    }
}